package ${package}.biz.admin.controller;



import com.za.core.base.model.ApiPageResp;
import com.za.core.base.model.BaseResp;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.RestController;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.ResponseBody;


import ${package}.biz.admin.model.req.*;
import ${package}.biz.admin.model.resp.*;
import ${package}.biz.admin.model.vo.Admin${entity}VO;
import ${package}.biz.admin.service.Admin${entity}Service;


@RequestMapping(value="/admin/${entityFirstLower}")
@Slf4j
@Api(value = "/admin/${entityFirstLower}", description = "平台${entity}模块")
@RestController
public class Admin${entity}Controller {

	@Autowired
	private Admin${entity}Service admin${entity}Service;


	@PostMapping("/list")
	@ApiOperation(value = "${entity}列表接口", httpMethod = "POST", notes = "用于：平台管理-${entity}管理")
	public BaseResp<ApiPageResp<Admin${entity}VO>> list(@RequestBody Admin${entity}ListReq reqModel){
    	return admin${entity}Service.list(reqModel);
    }


	@PostMapping("/get")
	@ApiOperation(value = "${entity}详情接口", httpMethod = "POST", notes = "用于：平台管理-${entity}管理")
	public BaseResp<Admin${entity}VO> get(@RequestBody Admin${entity}GetReq reqModel){
		return admin${entity}Service.get(reqModel);
	}


	@PostMapping("/add")
	@ApiOperation(value = "${entity}添加接口", httpMethod = "POST", notes = "用于：平台管理-${entity}管理-添加")
	public BaseResp<Admin${entity}VO> add(@RequestBody Admin${entity}AddReq reqModel){
		return admin${entity}Service.add(reqModel);
	}


	@PostMapping("/edit")
	@ApiOperation(value = "${entity}修改接口", httpMethod = "POST", notes = "用于：平台管理-${entity}管理-修改")
	public BaseResp<Admin${entity}VO> edit(@RequestBody Admin${entity}EditReq reqModel){
		return admin${entity}Service.edit(reqModel);
	}


	@PostMapping("/del")
	@ApiOperation(value = "${entity}删除接口", httpMethod = "POST", notes = "用于：平台管理-${entity}管理-删除")
	public BaseResp del(@RequestBody Admin${entity}DelReq reqModel){
		return admin${entity}Service.del(reqModel);
	}

}
