package ${package}.biz.gov.model.vo.${entityAllLower};


#set($hasDate=0)
#foreach($column in $columns)
    #if($column.javaType=='Date' && $hasDate==0)
    import io.swagger.annotations.ApiModel;
    import io.swagger.annotations.ApiModelProperty;
    import lombok.Data;

    import java.io.Serializable;
    import java.math.BigDecimal;
    import java.util.Date;
        #set($hasDate=1)
    #end
#end

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import java.io.Serializable;
import lombok.Data;

@Data
@ApiModel
public class Gov${entity}VO implements Serializable{

#foreach($column in $columns)

    #if($column.comment!='')
    @ApiModelProperty("$column.comment")
    #end
private ${column.javaTypeBox} ${column.javaFieldName};
#end

}